[submodule "3rd-party/github-php-client"]
	path = 3rd-party/github-php-client
	url = git@github.com:tan-tan-kanarek/github-php-client.git
[submodule "3rd-party/php-imap"]
	path = 3rd-party/php-imap
	url = git@github.com:barbushin/php-imap.git
[submodule "3rd-party/barbushin/php-imap"]
	path = 3rd-party/barbushin/php-imap
	url = https://github.com/barbushin/php-imap
[submodule "3rd-party/tan-tan-kanarek/github-php-client"]
	path = 3rd-party/tan-tan-kanarek/github-php-client
	url = https://github.com/tan-tan-kanarek/github-php-client
